<% if @over_ten %>
  <%= link_to '以前のメッセージ', '?m=all' %>
<% end %>


<div class="line-bc"><!--①LINE会話全体を囲う-->
  <% @messages.each do |message| %>
      <% if message.body %>
      <% user = User.find(message.user_id) %>
  <% if message.user_id == current_user.id %>

    <!--2右コメント始-->
  <div class="mycomment">
        <strong><%= user.name %></strong> <%= message.message_time %>
        <div class="mess">
        <i class="right triangle icon"></i>
        <p><%= message.body %></p>
        </div>
  </div>
  <!--/2右コメント終-->

  <% else %>
    <!--3左コメント始-->
  <div class="balloon6">
    <div class="faceicon">
<!--   ★ここにアイコン画像 <img~>★ -->
    </div>
    <div class="chatting">
      <div class="name_message">
      <strong><%= user.name %></strong> <%= message.message_time %>
      </div>
      <div class="says">
        <div class="mess">
        <i class="right triangle icon"></i>
        <p><%= message.body %></p>
        </div>
      </div>
    </div>
  </div>
  <!--3/左コメント終-->

  <% end %>
  <% end %>
  <% end %>

</div><!--/①LINE会話終了-->


<%= form_with(model: [@conversation, @message],local: true) do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div>
    <%= f.submit "メッセージを送る" %>
  </div>
<% end %>

<div class="blank"></div>