<%= page_entries_info @comments %>
<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>

        <p><%= image_tag (comment.image), :size => '400x300' if comment.image.present? %></p>
        <p><%= comment.user.name %></p>
        <p><%= comment.content %></p>
        <li>
        <% if comment.user_id == current_user.id %>
        <td><%= link_to '編集', edit_castle_comment_path(castle.id,comment.id), class: "btn btn-primary" %></td>
        <td><%= link_to '削除', castle_comment_path(castle.id,comment.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: "btn btn-danger" %></td>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
<%= paginate @comments %>