<body class="container_article_index">
  <h4>全国のご当地品を買うことができます</h4>
    <div class="regist">
      <%= link_to '商品を登録する', new_article_path, class: "btn btn-primary"%>
    </div>

<div class="article_top"></div>
  <div class="article_content">
  <% @articles.each do |article| %>
      <div class="item">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <% if article.ar_image.present? %>
              <%= image_tag article.ar_image , :size => '100x100' %>
              <% else %>
              <%= image_tag 'noimage.jpg', :size => "100x100"%>
              <% end %>
            </div>
            <div class="panel-body_article">
                <p class="item-title"><%= article.ar_name %></p>
                <div class="item-content"><%= truncate(article.ar_info , :length => 30)%></div>
                <div class="price"><%= article.ar_price %>円</div>
                <% if article.ar_stock.present? %>
                  <% if article.ar_stock > 0 || article.ar_stock == nil %>
                    <div class="stock">在庫あり</div>
                    <div class="buttons text-center"><%= link_to '購入する', article_path(article.id), class: "btn btn-info" %></div>
                  <% else %>
                    <div class="stock">在庫なし</div>
                  <% end %>
                <% end %>
                <% if article.user_id == current_user.id %>
                <span><%= link_to '編集', edit_article_path(article.id), class: "btn btn-primary" %></span>
                <span><%= link_to '削除', article_path(article.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: "btn btn-danger" %></span>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="blank"></div>

<div class="article_top"></div>
<div class="article_top"></div>

  <div class="blank"></div>
</body>