
<div class="article_top"></div>

  <% @articles.each do |article| %>
      <div class="item">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <% if article.ar_image.present? %>
              <%= image_tag article.ar_image , :size => '100x100' %>
              <% else %>
              <%= image_tag 'noimage.jpg', :size => "100x100"%>
              <% end %>
            </div>
            <div class="panel-body">
                <p class="item-title"><%= article.ar_name %></p>
                <div class="price"><%= article.ar_price %>円</div>
                <% if article.ar_stock.present? %>
                  <% if article.ar_stock > 0 %>
                    <div class="stock">在庫あり</div>
                    <div class="buttons text-center"><%= link_to '購入する', article_path(article.id) %></div>
                  <% else %>
                    <div class="stock">在庫なし</div>
                  <% end %>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  <%= link_to '登録する', new_article_path %>

  <div class="blank"></div>