
<%= form_with(model: @article, local: true) do |form| %>

  <div class="ar_name">
    <%= form.label :ar_name,'品物：' %>
    <%= form.text_field :ar_name %>
  </div>

  <div class="ar_image">
    <%= form.label :ar_image,'画像：' %>
    <%= image_tag(@article.ar_image.url) if @article.ar_image.url %>
    <%= form.file_field :ar_image %>
  </div>

  <div class="ar_price">
    <%= form.label :ar_price,'販売金額：' %>
    <%= form.text_field :ar_price %>
  </div>

  <div class="ar_stock">
    <%= form.label :ar_stock,'在庫：' %>
    <%= form.text_field :ar_stock %>
  </div>

  <div class="ar_pref">
    <%= form.label :ar_pref,'生産地：' %>
    <%= form.text_field :ar_pref %>
  </div>

  <div class="ar_info">
    <%= form.label :ar_info,'概要：' %>
    <%= form.text_field :ar_info %>
  </div>


  <%= form.submit("送信") %>
<% end %>

  <%= link_to '戻る', articles_path %>
