

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @article, local: true) do |form| %>
    <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= @article.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

      <div class="form-group">
        <%= form.label :ar_name,'品物：' %>
        <%= form.text_field :ar_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :ar_image,'画像：' %>
        <%= image_tag(@article.ar_image.url) if @article.ar_image.url %>
        <%= form.file_field :ar_image %>
      </div>

      <div class="form-group">
        <%= form.label :ar_price,'販売金額：' %>
        <%= form.text_field :ar_price, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :ar_stock,'在庫：' %>
        <%= form.text_field :ar_stock, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :ar_pref,'生産地：' %>
         <%= form.select :ar_pref, [["北海道", "北海道"], ["東北", "東北"], ["関東", "関東"], ["中部", "中部"], ["近畿", "近畿"], ["中国", "中国"], ["四国", "四国"], ["九州", "九州"], ["沖縄", "沖縄"], ["その他", "その他"]] ,class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :ar_info,'概要：' %>
        <%= form.text_field :ar_info, class: 'form-control' %>
      </div>


      <%= form.submit "送信", class: "btn btn-primary" %>
    <% end %>
  <%= link_to '戻る', articles_path, class: "btn btn-success" %>
  </div>
</div>


