<h2>ユーザー</h2>
<% @users.each do |user| %>
  <% if user.id != current_user.id %>


  <div class="col-md-3 col-sm-4 col-xs-12">
    <div class="card img-thumbnail">

      <div class="card-body px-2 py-3">
        <% if user.icon_image.present? %>
          <%= image_tag user.icon_image , :size => '100x100', class: "user_center"%>
        <% else %>
          <%= image_tag 'noimage.jpg' , :size => '100x100', class: "user_center" %>
        <% end %>
        <h5 class="card-title"><%= link_to user.name, user, class: "font" %></h5>
        <p class="card-text">
        <% if user.user_comment.present? %>
          <%= user.user_comment %>
        <% else %>
          ユーザーからのコメントはありません
        <% end %>
        </p>
        <p class="mb-0"><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post, class: "btn btn-success" %> <%= render 'follow_form', user: user %></p>

      </div><!-- /.card-body -->
    </div><!-- /.card -->
  </div><!-- /.col-sm-6.col-md-3 -->


  <% end %>
<% end %>