<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>


<%= notice %>
<h1><%= @user.name %>のページ</h1>

<div class="chart-container" style="position: relative; height:40vh; width:60vw">
<canvas id="myChart"></canvas>
</div>

<p>メールアドレス: <%= @user.email %></p>

<p><%= link_to "ユーザー情報を編集する",edit_user_path(@user) %></p>

<div class="ranks_panel panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">ユーザーランク</h3>
  </div>
  <div class="panel-body">
<% num = @user.comments.select(:image).count + @user.comments.select(:content).count + @user.favorites.count +
@user.visits.count%>
<p><%= num %>点</p>
<% if num < 5 %>
<p>足軽</p>
<p>次のランクまで<%= 5 - num %>点必要</p>
<% elsif num < 10 %>
<p>侍大将</p>
<p>次のランクまで<%= 10 - num %>点必要</p>
<% elsif num < 20 %>
<p>武将</p>
<p>次のランクまで<%= 20 - num %>点必要</p>
<% elsif num < 30 %>
<p>城主</p>
<p>次のランクまで<%= 30 - num %>点必要</p>
<% elsif num < 40 %>
<p>次のランクまで<%= 40 - num %>点必要</p>
<p>大名</p>
<% elsif num > 40 %>
<p>天下人</p>
<% end %>


<div class="comment">
<table class="table table-condensed">
<tr class="table-dark">
<th>画像投稿数</th>
<th>コメント投稿数</th>
<th>お気に入り数</th>
<th>訪れた城数</th>
</tr>
<tr>
  <td><%= @user.comments.select(:image).count %></td>
  <td><%= @user.comments.select(:content).count %></td>
  <td><%= @user.favorites.count %></td>
  <td><%= @user.visits.count %></td>
</tr>
</table>
</div>
  </div>
</div>


<% image_ave = @comments.select(:image).count/@users.count %>
<% content_ave = @comments.select(:content).count/@users.count %>
<% favorite_ave = @favorites.count/@users.count %>
<% visit_ave = @visits.count/@users.count %>


<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
  type: 'radar',
  data: {
    labels: ["画像投稿数", "コメント投稿数", "お気に入り数", "訪れた城数"],
    datasets: [{
      label: 'あなたの点数',
      backgroundColor: "rgba(153,255,51,0.4)",
      borderColor: "rgba(153,255,51,1)",
      data: [<%= @user.comments.select(:image).count %>, <%= @user.comments.select(:content).count %>, <%= @user.favorites.count %>, <%= @user.visits.count %>]
    }, {
      label: '平均値',
      backgroundColor: "rgba(255,153,0,0.4)",
      borderColor: "rgba(255,153,0,1)",
      data: [<%= image_ave %>, <%= content_ave%>, <%= favorite_ave %>, <%= visit_ave %>,]
    }]
  }
});
</script>



<h2>お気に入り一覧</h2>
<div class="favorite">
  <% @favorites_castles.each do |favorite| %>
    <div class="kakomi-tape1 col-md-4"><%= link_to favorite.ca_name , castle_path(favorite), class: "font" %>
      <% if favorite.ca_top_image.present? %>
      <%= image_tag favorite.ca_top_image , :size => '100x100', class: "right_float" %>
      <% else %>
      <%= image_tag 'noimage.jpg' , :size => '100x100', class: "right_float"  %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="blank"></div>
<div class="blank"></div>
<div class="blank"></div>

<div class="visit_castle">
  <h2>訪れた城一覧</h2>
    <div class="visit">
      <% @visits_castles.each do |visit| %>
      <div class="kakomi-tape1 col-md-4"><%= link_to visit.ca_name , castle_path(visit), class: "font" %>
      <% if visit.ca_top_image.present? %>
      <%= image_tag visit.ca_top_image , :size => '100x100', class: "right_float" %>
      <% else %>
      <%= image_tag 'noimage.jpg' , :size => '100x100', class: "right_float"  %>
      <% end %>
      </div>
      <% end %>
    </div>
</div>

<div class="blank"></div>
