<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
</head>



<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><%= image_tag 'himeji.jpg', :size => "600x400"%></div>
        <div class="swiper-slide"><%= image_tag 'inuyama.jpg', :size => "600x400"%></div>
        <div class="swiper-slide"><%= image_tag 'matsumoto.jpg', :size => "600x400"%></div>
        <div class="swiper-slide"><%= image_tag 'nagoya.jpg', :size => "600x400"%></div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<div class="example">
  <%= image_tag 'top.jpg', :size => "100x200"%>
    <div class="top"><h1>レキタン！</h1></div>
    <div class="top"><h4>国内のさまざまなお城を探すことができます</h4></div>
    <div class="arrow-down">
  <div class="left_tag"></div>
  <div class="right_tag"></div>
</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>

<div class="text-center">
<div class="button_hide">
  <section class="fadein1">
    <% if logged_in? %>
      <button type="button" class="btn btn-primary btn-lg "><%= link_to '地図検索を行う', maps_index_path, :style=>"color:white;"%>
      </button>
    <% else %>
      <button type="button" class="btn btn-primary btn-lg "><%= link_to 'ログインする', new_session_path, :style=>"color:white;"%>
    <% end %>
  </section>
</div>
</div>


  <div class="color_blank"></div>
  <div class="color_back">
  <section class="fadein1">
        <% if logged_in? %>
          <%= link_to user_path(current_user.id) do %>
          <i class="fas fa-vihara fa-5x"></i>
          <% end %>
        <% else %>
          <%= link_to maps_index_path do %>
          <i class="fas fa-vihara fa-5x"></i>
          <% end %>
        <% end %>
  <%= link_to maps_index_path do %>
    <i class="fas fa-map fa-5x"></i>
  <% end %>
  <%= link_to rankings_favorite_path do %>
    <i class="fas fa-crown fa-5x"></i>
  <% end %>

    <div class="pro_i">自分のプロフィールをみる
      <span class="map_i">地図で検索する</span>
      <span class="rank_i">ランキングをみる</span>
    </div>
  </section>
  <h3 class="text-center">今日のピックアップ</h3>
  <section class="fadein1">
  <div class="card-left1">
  <% @randoms.each do |random| %>
  <div class="card1 text-white bg-primary col-md-4 col-sm-4 col-xs-4">
    <div class="card-body">
      <h5 class="card-title"><%= link_to random.ca_name , castle_path(random), :style=>"color:white;" %></h5>
      <p class="card-text">
      <% if random.ca_top_image.present? %>
        <%= image_tag random.ca_top_image , :size => '300x200' %>
      <% else %>
        <%= image_tag 'noimage.jpg' , :size => '300x200' %>
      <% end %></p>
      <%= random.ca_info %>
    </div>
  </div>
  <% end %>
  </div>
</section>

<script>



var mySwiper = new Swiper ('.swiper-container', {
  loop: true,
  slidesPerView: 2,
  autoplay:2000,
  spaceBetween: 10,
  centeredSlides : true,
  pagination: '.swiper-pagination',
  nextButton: '.swiper-button-next',
  prevButton: '.swiper-button-prev'
})

$(function(){
  $('slideshow').each(function(){
    var $slides = $(this).find('image_tag'),
    slideCount = $slides.length,
    currentIndex = 0;

  $slides.eq(currentIndex).fadeIn();
  setInterval(showNextSlide, 7500);
  function showNextSlide(){
    var nextIndex = (currentIndex+1)%slideCount;
    $slides.eq(currentIndex).fadeOut();
    $slides.eq(nextIndex).fadeIn();
    currentIndex = nextIndex;
  }
  });
});

$(function(){
    $(window).scroll(function (){
      $('.fadein1').each(function(){
        var elemPos = $(this).offset().top;
        var scroll = $(window).scrollTop();
        var windowHeight = $(window).height();
          if (scroll > elemPos - windowHeight +200){
            $(this).addClass('scrollin1');
            }
        });
    });
});

  $('.slider').slick({
    autoplay:true,
    autoplaySpeed:2000,
    dots:true,
    slidesToShow:2,
    slidesToScroll:2
  });


</script>