<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<div class="back">
<span class="top_title"><br><h1>レキ探</h1></span>
<span class="top_title"><h4>国内のさまざまなお城を探すことができます</h4></span>

</div>


<div class="button_hide">
  <section class="fadein1">
    <button type="button" class="btn btn-primary btn-lg "><%= link_to '地図検索を行う', maps_index_path, :style=>"color:white;"%>
    </button>
  </section>
</div>

<div class="block"></div>
  <section class="fadein1">
<%= link_to user_path(current_user.id) do %>
<i class="fas fa-vihara fa-5x"></i>
<% end %>
<%= link_to maps_index_path do %>
<i class="fas fa-map fa-5x"></i>
<% end %>
<%= link_to rankings_favorite_path do %>
<i class="fas fa-crown fa-5x"></i>
<% end %>
<div class="pro_i">自分のプロフィールをみる
<span class="map_i">地図で検索する</span>
<span class="rank_i">ランキングをみる</span>
</div>
</section>

<div class="color_back">
  <ul class="slider">
    <li><%= image_tag 'kakegawa.jpg'%></li>
    <li><%= image_tag 'himeji.jpg'%></li>
    <li><%= image_tag 'hamamatsu.jpg'%></li>
    <li><%= image_tag 'nagoya.jpg'%></li>
    <li><%= image_tag 'kakegawa.jpg'%></li>
    <li><%= image_tag 'inuyama.jpg'%></li>
    <li><%= image_tag 'matsumoto.jpg'%></li>
    <li><%= image_tag 'hikone.jpg'%></li>
  </ul>
</div>

<script>

$(function(){
    $(window).scroll(function (){
        $('.fadein1').each(function(){
            var elemPos = $(this).offset().top;
            var scroll = $(window).scrollTop();
            var windowHeight = $(window).height();
            if (scroll > elemPos - windowHeight +200){
                $(this).addClass('scrollin1');
            }
        });
    });
});

  $('.slider').slick({
    autoplay:true,
    autoplaySpeed:2000,
    dots:true,
    slidesToShow:2,
    slidesToScroll:2
  });


</script>