<h1>一覧</h1>

<p><%= link_to '新規登録', new_castle_path %></p>



<table>
  <tr>
    <th>城名</th>
    <th>お城トップ画像</th>
    <th>お城画像</th>
    <th>城コメント</th>
    <th>所属県</th>
    <th>お城情報</th>
    <th>主な城主</th>
    <th>公式ホームページ</th>
    <th>所在地</th>
    <th>アクセス</th>
    <th>沿革</th>

  </tr>
  <% @castles.each do |castle| %>
    <tr>
      <td><%= castle.ca_name %></td>
      <td></td>
    </tr>
    <tr>
      <td><%= link_to '詳細', castle_path(castle.id) %></td>
      <td><%= link_to '編集', edit_castle_path(castle.id) %></td>
      <td><%= link_to '削除', castle_path(castle.id),method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
    </tr>
  <% end %>
</table>

<div class="blank"></div>
