
<h2><%= @castle.ca_name %></h2>
  <p>お気に入り件数：<%= @ranking_counts[@castle.id]%>件</p>
  <p>情報: <%= @castle.ca_info %></p>
  <% if @castle.ca_top_image.present? %>
    <%= image_tag @castle.ca_top_image , :size => '400x300' %>
  <% else %>
    <%= image_tag 'noimage.jpg' , :size => '400x300' %>
  <% end %>

  <% if @favorite.present? %>
    <div class="favorite"><%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %></div>
  <% else %>
    <div class="favorite"><%= link_to 'お気に入りする', favorites_path(castle_id: @castle.id), method: :post, class: 'btn btn-primary' %></div>
  <% end %>

  <% if @visit.present? %>
    <%= link_to '攻略済', visit_path(id: @visit.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'まだ訪れていない', visits_path(castle_id: @castle.id), method: :post, class: 'btn btn-primary' %>
  <% end %>



  <p>コメント一覧</p>
  <div id="comments_area">
  <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, castle: @castle } %>
  </div>

  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, castle: @castle } %>

  <%= link_to '戻る', maps_index_path %>
</div>

<div class="blank"></div>