
<h2> <%= @castle.ca_name %></h2>
<p>情報: <%= @castle.ca_info %></p>
  <%= image_tag @castle.ca_top_image , :size => '400x300' %>




  <p>コメント一覧</p>
  <div id="comments_area">
  <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, castle: @castle } %>
  </div>

  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, castle: @castle } %>

  <%= link_to '戻る', maps_index_path %>
</div>
