<!DOCTYPE html>
<html>
  <head>
    <title>SearchHistory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample3">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/toppages/index">
				レキタン！
			</a>
		</div>

		<div class="collapse navbar-collapse" id="navbarEexample3">
			<ul class="nav navbar-nav">
        <% if logged_in? %>
          <li><%= link_to "maps", maps_index_path %></li>
          <li><%= link_to "ranking", rankings_favorite_path %></li>
          <li><%= link_to "Profile", user_path(current_user.id) %></li>
          <li><%= link_to "purchase", articles_index_path %></li>
          <li><%= link_to "quiz", quizzes_path %></li>
          <li><%= link_to "Logout", session_path(current_user.id), method: :delete ,data: { confirm: '本当にログアウトしていいですか？' }%></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_path %></li>
          <li><%= link_to "Login", new_session_path %></li>
        <% end %>
			</ul>
<!-- 			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="検索キーワード">
				</div>
				<button type="submit" class="btn btn-default">検索</button>
			</form> -->
      <% unless admin_logged_in? %>
      <ul class="nav navbar-nav">
        <li><%= link_to "admin", castles_path , class: "kanri"%></li>
      </ul>
      <% end %>
      <ul class="nav navbar-nav">
        <li><%= link_to 'allusers', users_path if logged_in? %></li>
      </ul>


<script type="text/javascript">
function gate(){
   // ▼ユーザの入力を求める
   var UserInput = prompt("パスワードを入力して下さい:","");

   if( "castle" == UserInput ) {
      // ▼入力内容からファイル名を生成して移動
      window.location.href = '/castles/new';
   }
}
</script>

		</div>
	</div>
</nav>


  <%= yield %>
    <footer>
      <div class="footer">
        <ul>
          <li><a href="#" onclick="gate();">admin</a></li>
        </ul>
      </div>
    </footer>

  </body>

</html>
